<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chong.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.chong.puttycommon.po.User">
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_WECHAT" jdbcType="VARCHAR" property="userWechat" />
    <result column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="IS_VIP" jdbcType="INTEGER" property="isVip" />
    <result column="USER_QQ" jdbcType="VARCHAR" property="userQq" />
    <result column="VIP_DEAD_DATE" jdbcType="TIMESTAMP" property="vipDeadDate" />
    <result column="REGISTER_TIME" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="IS_DELETE" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_PASSWORD, USER_EMAIL, USER_WECHAT, USER_MOBILE, IS_VIP, 
    USER_QQ, VIP_DEAD_DATE, REGISTER_TIME, IS_DELETE
  </sql>
  <select id="selectByExample" parameterType="com.chong.puttycommon.po.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chong.puttycommon.po.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chong.puttycommon.po.User">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (USER_NAME, USER_PASSWORD, USER_EMAIL, 
      USER_WECHAT, USER_MOBILE, IS_VIP, 
      USER_QQ, VIP_DEAD_DATE, REGISTER_TIME, 
      IS_DELETE)
    values (#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userWechat,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{isVip,jdbcType=INTEGER}, 
      #{userQq,jdbcType=VARCHAR}, #{vipDeadDate,jdbcType=TIMESTAMP}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chong.puttycommon.po.User">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPassword != null">
        USER_PASSWORD,
      </if>
      <if test="userEmail != null">
        USER_EMAIL,
      </if>
      <if test="userWechat != null">
        USER_WECHAT,
      </if>
      <if test="userMobile != null">
        USER_MOBILE,
      </if>
      <if test="isVip != null">
        IS_VIP,
      </if>
      <if test="userQq != null">
        USER_QQ,
      </if>
      <if test="vipDeadDate != null">
        VIP_DEAD_DATE,
      </if>
      <if test="registerTime != null">
        REGISTER_TIME,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userWechat != null">
        #{userWechat,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=INTEGER},
      </if>
      <if test="userQq != null">
        #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="vipDeadDate != null">
        #{vipDeadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chong.puttycommon.po.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null">
        USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userWechat != null">
        USER_WECHAT = #{record.userWechat,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null">
        USER_MOBILE = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isVip != null">
        IS_VIP = #{record.isVip,jdbcType=INTEGER},
      </if>
      <if test="record.userQq != null">
        USER_QQ = #{record.userQq,jdbcType=VARCHAR},
      </if>
      <if test="record.vipDeadDate != null">
        VIP_DEAD_DATE = #{record.vipDeadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registerTime != null">
        REGISTER_TIME = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      USER_WECHAT = #{record.userWechat,jdbcType=VARCHAR},
      USER_MOBILE = #{record.userMobile,jdbcType=VARCHAR},
      IS_VIP = #{record.isVip,jdbcType=INTEGER},
      USER_QQ = #{record.userQq,jdbcType=VARCHAR},
      VIP_DEAD_DATE = #{record.vipDeadDate,jdbcType=TIMESTAMP},
      REGISTER_TIME = #{record.registerTime,jdbcType=TIMESTAMP},
      IS_DELETE = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chong.puttycommon.po.User">
    update user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userWechat != null">
        USER_WECHAT = #{userWechat,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null">
        IS_VIP = #{isVip,jdbcType=INTEGER},
      </if>
      <if test="userQq != null">
        USER_QQ = #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="vipDeadDate != null">
        VIP_DEAD_DATE = #{vipDeadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerTime != null">
        REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chong.puttycommon.po.User">
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_WECHAT = #{userWechat,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      IS_VIP = #{isVip,jdbcType=INTEGER},
      USER_QQ = #{userQq,jdbcType=VARCHAR},
      VIP_DEAD_DATE = #{vipDeadDate,jdbcType=TIMESTAMP},
      REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      IS_DELETE = #{isDelete,jdbcType=INTEGER}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>